#sfondo{
  position:fixed;
  left:0;
  top:0;
  width:100%;
}
@media screen and (max-width:1100px)
  {#sfondo {height:100%;};
}

body{
  background-color: black;
  height:100vw;
}
h1{
  text-align:center;
  font-size:6vw;
  color:white;
  line-height:0.8em;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size:1.3vw;
  color:white;
  letter-spacing: 0.04em;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  text-align:center;
}
#doriforo{
  width:20vw;
  position:absolute;
  left:50%; top:15vw;
  transform:translate(-50%);

}
#divdoriforo{
  top:30vw;
}
#info{
  text-align:center;
  width: 90vw;
  position: absolute;
  top:75vw;
  left:50%;
  transform:translateX(-50%);
}
#info1{
  text-align:center;
  width: 90vw;
  position: absolute;
  top:72vw;
  left:50%;
  transform:translateX(-50%);
}
#info3{
  text-align:center;
  width: 90vw;
  position: absolute;
  top: 88vw;
  left:50%;
  transform:translateX(-50%);
}
ul{
  position:absolute;
  top:80vw;
  bottom:20vh;
  left:50%;
  transform: translate(-55%);
}
li{
  display: inline;
  left:50%;
}
a{
  font-family: 'Montserrat', sans-serif;
  font-size:1.3vw;
  color:white;
  text-decoration: none;
  letter-spacing: 0.02em;
  border: 0.1em solid white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin:0.3em;
  left:50%;
}
a:hover{
  background-color:white;
  border: 0.1em solid white;
  color:#000119;
}
